# ignore .env files
**/.env

# ignore cloned repo
**/docker-django-webapp-linux

# ignore container-deployment.yaml file since it may have serivce principal credentials
**/container-deployment.yaml

# ignore deployment.yaml file
**/deployment.yaml